[2011-04-28 01:21] paulsmith opened #1 "Can't adapt type 'HStoreDictionary'"
I'm getting a DatabaseError exception, "can't adapt type 'HStoreDictionary'" with a simple test app.

[code]

The db is synced and I can insert records directly with SQL at a psql prompt, including hstore values.

The exception comes when I try to create a record in Python:

[code]

Ubuntu 10.10, PostgreSQL 9.0.4, psycopg 2.4, Django 1.3.

[2011-04-29 16:21] jezdez opened #4 "Filtered queryset not used in hslice manager method"
https://github.com/jordanm/django-hstore/blob/88196eac5220b7031c63e0a37cf82c4ff2a556a8/django_hstore/hstore.py#L100-101

[2011-04-29 16:28] #4 closed, assigned to nobody

[2012-01-06 00:13] freyley opened #6 "cannot import name register_hstore"
Seems like I'm doing something obvious and wrong, but missing it. I created a new project, set the adapter to

[code]

and add django_hstore to installed_apps

and then try to run dbshell or syncdb or anything, and I get this:

django.core.exceptions.ImproperlyConfigured: 'django_hstore.postgresql_psycopg2' isn't an available database backend.
Try using django.db.backends.XXX, where XXX is one of:

[2012-01-06 17:43] #6 closed, assigned to nobody

[2012-01-06 17:46] freyley opened #7 "Filtering by a tag not working?"
I created a Way model, like this:

from django_hstore import hstore

class Way(models.Model):
    tags = hstore.DictionaryField(db_index=True, null=True)

and then did this

way = Way.objects.all()[1]

print way.tags

Out[8]:
{'name': 'Northeast Butler Street',
...other data here...
 }

then did this:

print Way.objects.filter(tags__icontains={'name' : way.tags['name']})

and got nothing

Out[12]:

[2013-08-19 13:27] andreipetre opened #10 "Error when running tests"
I'm getting the following error when testing apps in my project:

[code]

This appears to be caused by the `django_hstore.postgresql_psycopg2` as changing back to `django.db.backends.postgresql_psycopg2` does not raise the error.

Anyone else having similar issues?

[2013-10-21 11:20] #10 closed, assigned to nobody

[2013-11-19 16:22] DemersM opened #11 "Incompatibility with Django 1.6"
django-hstore seems to be not compatible with Django 1.6

C:\Python27\lib\site-packages\django_orm\postgresql\hstore\forms.py:2: Deprecati
onWarning: django.utils.simplejson is deprecated; use json instead.
  from django.utils import simplejson as json

Unhandled exception in thread started by <function wrapper at 0x02E3B3B0>
Traceback (most recent call last):
  File "C:\Python27\lib\site-packages

[2014-01-02 19:03] nemesifier opened #14 "Request to move the project"
I have a proposal.

Since this project is used by some people, and has attracted attention recently after the growth of interest in schemaless databases, it would be a good idea to let it grow organically.

Unfortunately it seems that the original author does not have much time to review changes. Same applies for the repository that is listed on pypi: https://github.com/aino/django-hstore - this r

[2014-01-03 22:58] #14 closed, assigned to nobody

[2014-01-03 22:59] #11 closed, assigned to nobody

[2014-01-03 23:03] #7 closed, assigned to nobody

[2014-01-03 23:04] #1 closed, assigned to nobody

[2014-01-16 03:36] PaoloC68 opened #17 "Values evaluated and stored to string in Admin"
Given a model:

[code]

If I store a list:

[code]

when I save using the admin interface, the value the list gets converted to a string:

[code]

So the values are not preserved in their native type. There is already a fix or somebody working on this?

[2014-01-16 13:15] #17 closed, assigned to nobody

[2014-01-23 10:08] niwinz opened #19 "Feature proposal: Hstore Lookups with Django 1.7"
Django 1.7 comes with awesome new feature: custom lookups https://docs.djangoproject.com/en/dev/ref/models/custom-lookups/

I want implement custom lookups for hstore fields.

This shouldn't break any compatibility because it will be activated only if django-hstore is used with django 1.7

[2014-01-23 11:36] niwinz opened #20 "Establish deprecation policy"
We should establish some deprecation policy for django versions.
My proposition: support last two stable django versions.

[2014-01-30 23:10] ipmb opened #23 "Widget not working in Admin TabularInline"
The form field breaks inlines in the admin.

![](https://cloudup.com/cJWY9bHq1ug+)

[2014-02-24 16:27] dczech opened #25 "Is null filtering is not working on hstore field"
These cases are not working

[code]

result

[code]

[2014-02-25 09:34] nemesifier opened #26 "Multidatabase setup: other non-postgresql databases should not register HSTORE"
in a situation in which postgresql+hstore is the main DB and another non-postgresql relational DB is a secondary the HSTORE function should probably be disabled by default without needing to add HAS_HSTORE = False.

What do you think and if you agree what would be the best way to do it in your opinion?

[2014-02-26 16:31] #25 closed, assigned to nobody

[2014-03-10 13:08] nferrari opened #28 "Psycopg2 required version"
The register process seems not to work on a psycopg2.4 version:

"AttributeError: module object has no attribute 'new_array_type'"

Updating my psycopg2 version to last one (2.5.2) resolved the issue. Indeed, the function has been introduced in 2.4.3 version:

https://github.com/psycopg/psycopg2/blob/7b82be936dae074217b7c5b9cefe0ec2b227160c/NEWS#L153

I guess a change on prerequisites list should

[2014-03-10 17:32] #28 closed, assigned to nobody

[2014-03-11 12:05] #20 closed, assigned to nobody

[2014-03-11 13:51] #26 closed, assigned to nobody

[2014-03-14 03:29] aidanlister opened #31 "How to use with order_by or ordering?"
I'd expect to be able to do something like:
    Model.objects.all().order_by('data->door_order_no')

Could this be implemented somehow?

[2014-03-20 21:14] Naddiseo opened #32 "Hstore adapter registration relies on connection_created signal"
Currently, django_hstore relies the `connection_created` signal in order to register the hstore adapters, unfortunately, if `TransactionMiddleware` is enabled, the signal gets called before the django_hstore app has been loaded, with means the adapter does not get loaded.

Since I'm not sure whether django, or django_hstore is at fault, I think at minimum, this should be documented until a fix in

[2014-03-27 11:35] #31 closed, assigned to nobody

[2014-04-16 10:36] #19 closed, assigned to nobody

[2014-04-17 12:21] #32 closed, assigned to nobody

[2014-04-17 16:32] etianen opened #38 "Version 1.2.3 will not install from PyPi"
[code]

And yet it claims to be available on PyPi:

https://pypi.python.org/pypi/django-hstore/1.2.3

Potentially it needs to have a download registered with it?

[2014-04-18 12:04] #38 closed, assigned to nobody

[2014-05-12 14:11] scottwoodall opened #42 "Willingness to accept a PEP8 pull request?"
The documentation mentions "Follow PEP8, Style Guide for Python Code" but there are multiple violations in the code base.

Would you be willing to accept a pull request that fixes all of the PEP8 violations?

[2014-05-13 00:07] #42 closed, assigned to nobody

[2014-05-13 10:19] etianen opened #44 "TypeError when using hstore.DictionaryField in a unique_together clause"
I'm using Django 1.7 (latest pull from stable/1.7 branch), but can recreate the issue with Django 1.6.

Full traceback below:

[code]

[2014-05-16 18:02] gthb opened #45 "HSTORE adapter registration in psycopg2 conflicts with SQLAlchemy"
If both django_hstore and SQLAlchemy are used in the same Python process with psycopg2, then django_hstore's adapter registration will cause psycopg2 to return `HStoreDict` instances to SQLAlchemy, which expects `str`. This causes errors like `AttributeError: 'HStoreDict' object has no attribute 'decode'` in `sqlalchemy/dialects/postgresql/hstore.py`:

[code]

Some solution for the two to coexist

[2014-05-25 19:09] esistgut opened #46 "Admin errorlist not shown in case of validation error"
Relevant snippet from the model:

[code]

relevant part from the admin:

[code]

If I try to save a new driver without adding any row to the "data" field it fails saying "Please correct the error below." but no error is printed.
 If I add a row to the field the Driver and Language models are created but then If I try to remove the Language model from the Driver's admin page I get the message "Plea

[2014-06-06 08:52] etianen opened #47 "HSTORE adapter registration intermittently not applied"
Every now and then, when one of my apps starts up after a period of inactivity, the HSTORE adapter fails to register, resulting in the following error traces:

[code]

This also occurs in some background tasks, with the following trace:

[code]

Libraries used by the site:

[code]

Of most interest is the uWSGI library, which might (at a hunch), be doing something unexpected to the startup process

[2014-06-23 13:33] #44 closed, assigned to niwinz

[2014-06-23 17:02] nemesifier opened #51 "Invalid registring hstore extension in a transaction block using atomic context manager."
moving the report by @waypointsoftware on a separate issue:

Do you have any solution for using the extension with a transaction?

[code]

This code produces "str" for each row when a transaction is used, it produces HStoreDict when not in a transaction

[2014-06-23 17:08] #23 closed, assigned to nemesifier

[2014-06-23 17:08] #46 closed, assigned to nemesifier

[2014-06-28 10:05] #45 closed, assigned to nobody

[2014-06-28 10:07] #51 closed, assigned to nobody

[2014-07-09 12:53] pazooki opened #53 "Hstore with DRF serializer"
Thanks guys for keeping up with this project. it's cool! are you planning to make a django-jsonb for the new versions of postgres?
@nemesisdesign I am using your code https://github.com/ninuxorg/nodeshot/blob/master/nodeshot/core/base/fields.py#L142 in my model here:
https://gist.github.com/pazooki/96a7d0c79e0d17caceac#file-gistfile1-py-L51
but I haven't been able to get it to work. before using y

[2014-07-11 13:45] #53 closed, assigned to nobody

[2014-08-02 03:17] mikob opened #56 "Feature request: support keyword args in create for schema hstore"
It would be really nice to be able to do:

[code]

Where send_emails and send_texts are defined in my schema like so:

[code]

[2014-08-03 22:12] #56 closed, assigned to nobody

[2014-08-06 12:57] lockwooddev opened #57 "DictionaryField + south schemamigration results in wrong default field value."
I'm using the latest 1.3.0 release and noticed something odd using the DictionaryField and South (0.8.4) schemamigrations.

I have the following field:

[code]

Now when I add a schemamigration for this new field, I end up with a wrong default value on the migration:

[code]

Running this migration results in:

[code]

The default value on the migration should be a None instead of an empty Dict {}

[2014-08-17 08:00] nemesifier opened #59 "HStoreDict get method does not follow the standard python dict get implementation"
Python dict method never raises an exception while HStoreDict does.

[2014-08-21 21:07] mattiaslinnap opened #60 "HStoreDict does not convert long integers to strings."
Python "long" integers are not converted to strings by HStoreDict.ensure_acceptable_value(). Usual integers are silently promoted to infinite-sized long integers by Python, and surprisingly long is not a subclass of int.

[code]

This can eventually result in a mixed string and integer PostgreSQL array being passed to the hstore() constructor, and PostgreSQL complaining about strings not being int

[2014-08-25 05:30] aidanlister opened #62 "Support ordering with Django 1.7's custom lookups"
This is re-opening issue #31, as we should be able to support ordering now in Django 1.7 which is almost at a stable release, with a custom lookup:
https://docs.djangoproject.com/en/dev/howto/custom-lookups/

[2014-08-25 10:53] #60 closed, assigned to nobody

[2014-08-25 11:14] #59 closed, assigned to nemesifier

[2014-08-25 17:03] #57 closed, assigned to nobody

[2014-08-26 15:19] leonsas opened #63 "Add a test suite for migrations"
Seems like proper behavior when dealing with migrations have been troubling you. Maybe it'd be useful adding a test suite around proper migration output for south/1.7?

I could pitch in later this week if you think a migration test suite belongs to the project (I think it does).

[2014-08-27 19:03] robdennis opened #66 "schema mode does not populate __dict__ correctly"
Given this model declaration (based on the documentation):

[code]

I added a virtualfield named `json` whose `class` value is [jsonfield](https://github.com/bradjasper/django-jsonfield) class. This wasn't documented but looking at the code, you're specifically handling this form of passing in a class object.

Attempting to go through the documentation example:

[code]

the jsonfield code that's i

[2014-09-04 14:09] demiurg opened #67 "GeoDjango incompatability"
Is my understanding correct that there is no way to use the custom hstore fields in the same model with geospatial fields, which rely on django postgis database backend?

I looked in the docs, and an older version of the doc said this was true, but the current version doesn't seem to mention anything about it, so I wasn't sure if this was an issue.

[2014-09-04 17:28] #67 closed, assigned to nobody

[2014-09-16 14:00] igolkotek opened #68 "Key name unique feature"
Hi,

I did not find it in the docs, but found by testing that through the range of all hstore fields in the Model key names must be unique or the idea of virtual fields get broken.
I wished to try to use Hstore as a multilingual data storage. That means usage of the same language code keys like 'en', 'es' for EVERY field, requiring translation, like title, detail...
As result the model generated i

[2014-09-18 13:41] #68 closed, assigned to nobody

[2014-09-23 10:01] nemesifier opened #69 "Behaviour when null=True really sucks"
When the null attribute is set to `True` in a `DictionaryField`, the behaviour sucks.

Because the default value of the dictionary becomes `None`, trying to setting or getting keys from the dictionary returns a `TypeError` exception:

`set` example:

[code]

`get` example:

[code]

These two lines both generate an exception.

To mitigate this, one would always have to do something like:

[code]

o

[2014-09-23 22:40] montegoode opened #71 "HStoreDict.__unicode__() returns empty string when dict is empty"
Don't know if this is a bug, but the when an HStoreDict does not have any elements in it, the unicode method returns '' rather than '{}'.  The main manifestation of this is under django-rest-framework - the browsable api will not render an empty dict in the HTML Form for user editing even though the model field has been initialized with an empty dict (and not a null).

[2014-09-24 16:06] #71 closed, assigned to nobody

[2014-09-24 16:07] #69 closed, assigned to nobody

[2014-09-27 08:57] nemesifier opened #73 "Add reload schema feature"
It would be very useful to be able to change the SCHEMA of an hstore field (in schema mode) in runtime for advanced manipulation.

[2014-09-28 15:53] #66 closed, assigned to nobody

[2014-09-28 18:23] #73 closed, assigned to nobody

[2014-10-14 22:33] DavidMuller opened #75 "Contains lookup doesn't seem to support LIKE 'value%' SQL [was ORM Equivalent of SQL]"
Hello, I'm having trouble forming a django ORM query for a query.  In plain english, the query sounds like: "select a row where data[my_key] contains the string I'm looking for."

Concretely, consider the following model:

[code]

The following model instance:

[code]

I'd like to make use the Django ORM that makes a query equivalent to the following SQL:

[code]

I can't seem to find a way to do

[2014-10-15 09:34] nemesifier opened #76 "Compatibility with django.postgres.HStoreField"
How about stealing some improvements from this PR?
https://github.com/django/django/pull/3219

:-)

It looks like the implementation is intentionally simple so to avoid complex code to achieve certain features.

So it probably make sense to take some improvements back into django-hstore.

Then if in PostgreSQL, the binary json type will really be merged with the hstore 2.0 features as it was annou

[2014-10-17 19:07] #47 closed, assigned to niwinz

[2014-10-19 23:04] alukach opened #79 "Failing Tests"
Trying to get a stable dev environment up and running, but can't get the tests to pass.

Workflow:

[code]

This is using Python 2.7.6.  Postgres 9.3.4.

Any ideas of what I'm missing?

[2014-11-06 15:01] oleiade opened #82 "Why forcing DatetimeField to utcnow() ?"
Hi!

We've started using your library @komoot and we've rapidly hit the problem that it is impossible to give a ``None`` value to a ``DateTimeField`` in schema mode.

This part of the code: https://github.com/djangonauts/django-hstore/blob/c5d9b46fa6a678e864c32ed29ee63e37f26df3ca/django_hstore/virtual.py#L102

Seems to indicate that any default value set to ``None`` will be converted to ``datetime

[2014-11-17 04:15] #79 closed, assigned to nobody

[2014-11-18 12:42] bsod90 opened #83 "Is there a way to reload schema just for one instance?"
Hi django-hstore developers!

I'm wondering if there is a way to apply schema not to the whole model class, but rather for one model instance.

My situation is following:

I have a model that has a set of fields that are common for all instances.
This model has a 'category'.
Depending on category (e.g. Hotel, Parking, Theatre) I'd like to add a fixed set of additional attributes (different for eve

[2014-11-24 16:11] drag0nius opened #84 "update_query breaks transactions in django 1.7"
*django_hstore.query.update_query* uses *transaction.is_managed* which was completely deprecated in Django 1.7, rendering whole HStoreManager incompatbile with new transaction management.

Basically in 1.7 *transaction.is_managed* does not do or return anything and following code:

    if not transaction.is_managed(using=self.db):
            transaction.enter_transaction_management(using=self.db)

[2014-11-24 21:07] vechorko opened #85 "support theme Django Suit"
I added hot fix for support theme django suit.

<h5>django_hstore/widgets.py

[code]

<h5>templates/hstore_suit_widget.html

[code]

[2014-11-26 21:40] bufke opened #86 "Schema mode is incompatible with django-autocomplete-light"
I made a repo showing the issue at https://github.com/bufke/autocomplete_hstore

When using autocomplete-light with schema mode I get AttributeError: 'VirtualField' object has no attribute 'fk_field'

If you remove the schema from [here](https://github.com/bufke/autocomplete_hstore/blob/master/demo/models.py#L13) it will run fine.

I'm not sure if this should be a report for autocomplete instead.

[2014-11-27 10:10] anatoly-scherbakov opened #87 "Question: DictionaryField in schema mode + ForeignKey?"
Is it possible to use ForeignKey type with DictionaryField in schema mode?

I am trying to do that as follows:

[code]

I have the form for this model in Django-admin. When opening the page, it returns the following error:

[code]

It seems that `filer.Image` path is not resolved to the actual model.

Actually I am trying to use `django-filer` reference fields with `DictionaryField` with a workaro

[2014-11-27 14:38] #87 closed, assigned to nobody

[2014-12-06 20:10] #85 closed, assigned to nobody

[2014-12-22 17:27] pashinin opened #88 "How can I use "update()", not "save()" with hstore field?"
I'm looking for something like:
[code]

Where `debug` is a hstore field, and `__v` is a key: `debug["v"]`.
I'm looking for this because I want to update hstore field, but do not call `post_save` functions. (in case of `save()`)

[2015-01-05 23:53] nemesisdesign commented on #82
how can we produce a failing test case?

[2015-01-08 08:59] GregUK opened #90 "Add ability to change destination for underscore js media"
django_hstore/widgets.py

There is hardcoded external_js to cloudflare.  Should be able to easily override to use internal CDN f required or other source.

    class BaseAdminHStoreWidget(AdminTextareaWidget):
        """
        Base admin widget class for default-admin and grappelli-admin widgets
        """
        admin_style = 'default'
        @property
        def media(self):
        # loa

[2015-01-08 09:05] nemesisdesign commented on #90
I think it would be ok to store underscore locally instead of loading from the CDN, if you or anyone sends a PR with this little modification I'll accept it.

[2015-01-08 09:28] GregUK commented on #90
The approach I was planning to use was to check the settings and set a default if it doesnt exist. such as:

    from django.conf import settings
    ...
    internal_js = [
           getattr(settings, 'UNDERSCORE_JS_PATH', "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"
    ]

[2015-01-08 09:35] nemesisdesign commented on #90
why complicating your life when django.contrib.static does a great job
at handling static files?

[2015-01-08 09:40] GregUK commented on #90
How would you recommend approaching it?

[2015-01-08 10:18] nemesisdesign commented on #90
The standard practice in django apps is to ship JS files inside the static/ dir, which then are collected automatically when one runs manage.py collectstatic.

if we want to retain the possibility to load from CDN we could add do something like:
[code]

[2015-01-08 10:19] GregUK commented on #90
I'll update accordingly

[2015-01-16 15:20] ddohler opened #93 "register_hstore not getting called properly during tests"
We have an application with a test that looks roughly like this:

[code]

After updating to `django_hstore` >= 1.2.1, this test fails with the following error:
[code]
The application itself runs fine, however, and hstore fields on models work properly--only the tests fail.

I was able to trace the error to this set of commits: https://github.com/djangonauts/django-hstore/compare/8ac21be921905d0e2d

[2015-01-18 21:55] nemesisdesign commented on #88
Not possible currently.

[2015-01-18 21:55] #88 closed

[2015-01-18 21:56] #86 closed

[2015-01-18 21:56] nemesisdesign commented on #83
Thank you for the insights, I'm closing this to cleanup the issue list.

[2015-01-18 21:56] #83 closed

[2015-01-18 21:57] nemesisdesign commented on #84
so any test case?

[2015-01-18 21:57] #62 closed

[2015-01-18 21:57] nemesisdesign commented on #93
failing test case please

[2015-01-19 00:52] aidanlister commented on #62
Does this mean it's implemented or were you waiting on a reply from me? :)

[2015-01-19 18:36] nemesisdesign commented on #62
No this is not implemented and it doesn't look like anybody is going to.
Latelly we have been receiving many issues, feature requests, and some pull requests. Going all through this takes time which sometimes we don't have. I would prefer to keep open only bug reports or pull requests in order to stay focused and optimize the little time we have.

[2015-01-28 17:38] honi opened #94 "Schema mode and custom fields"
I'm trying to use schema mode with a custom field, but no luck so far.

I'm stripping down the code to make a simple example to post here. Is it supposed to work if schema contains "class" key pointing to a model field class?

[2015-01-29 06:19] skatenerd opened #95 "Liskov Violation in `HStoreDict`"
First off, I am using this library with `schema_mode` turned off.

Now, it is very likely that my code will have the built-in assumption that,

For all `x`
If `isinstance(d, dict)`,
and I type `d["hi"] = x`
then `d["hi"] == x`

This is guaranteed in general by dictionaries, but not by `HStoreDict` (since everything gets converted to strings).  This can cause very [subtle errors](http://en.wikipedi

[2015-01-29 11:09] nemesisdesign commented on #94
is your custom field a text/number field, or is it a more complex thing like a foreignkey or others?

[2015-01-29 12:14] honi commented on #94
I figured that since hstore only accepts strings, the custom field must coerce whatever value it uses to a string in order to work in django-hstore.

Anyways, yes, the custom field is a subclass of CharField.

[2015-02-02 21:08] alukach commented on #95
I'm not entirely clear as to why passing an `HStoreDict` object to Voluptuous fails while a standard `dict` does not (I know very little of Voluputuous, this is the first I've heard of it).

Nonetheless, I opened a pull request a while ago to create a field to automatically serialize/deserialize values upon input/output.  This would maintain datatype (for any common standard python datatype), whic

[2015-02-03 01:50] skatenerd commented on #95
Voluptuous inspects the type of whatever you handed it, and tries to give you a new instance of the same type:
https://github.com/alecthomas/voluptuous/blob/master/voluptuous.py#L501
https://github.com/alecthomas/voluptuous/blob/master/voluptuous.py#L682

I am using Voluptuous to *coerce* items, which is pretty meaningless when you re-insert a coerced item back into a casts-everything-to-string da

[2015-02-03 18:54] alukach commented on #93
We're running into a similar problem at work. When switching from the `django.db.backends.postgresql_psycopg2` backend to `django.contrib.gis.db.backends.postgis`, all of our tests relying on Django Hstore suddenly start failing.  On further investigation, we found that the `hstore.DictionaryField` was returning a string rather than a dictionary (in issue https://github.com/djangonauts/django-hsto

[2015-02-03 19:37] nemesisdesign commented on #93
According to http://docs.travis-ci.com/user/using-postgresql/ and https://github.com/djangonauts/django-hstore/blob/master/.travis.yml we have postgresql 9.1 and postgis 2.1.

it's correct, this started happening after https://github.com/djangonauts/django-hstore/compare/8ac21be921905d0e2d87e865148e101f8cc8e731...2e9164f3b23f5f6ead4893aa2312dd360a72fd01 before then the "CREATE EXTENSION HSTORE;" c

[2015-02-03 19:45] nemesisdesign commented on #93
I think it has to do with some postgresql internals we are missing.

Have you also tried doing something like:

[code]

[2015-02-03 20:12] alukach commented on #93
Okay, I feel like I figured it out.  It's a pretty strange one.

I was able to reproduce this bug with the two following conditions:

1. Creating a DB off of a `template1` DB that did not have `hstore` enabled.
1. Using the `django.contrib.gis.db.backends.postgis` backend.

If you create a django project database from a template that does not have `hstore` enabled, for some reason the `postgis` ba

[2015-02-03 20:21] alukach commented on #93
@nemesisdesign And to answer your question, this is the output of `SELECT t.oid FROM pg_type t JOIN pg_namespace ns ON typnamespace = ns.oid WHERE typname = 'hstore' and nspname = 'public';` on my database and test database when the conditions for the bug are met:

[code]

[2015-02-03 20:50] alukach commented on #95
You could also lean on this mixin that I made: https://bitbucket.org/ospreyinformatics/django-hstore-mixin/ .  It's not ideal but it works well enough (I use it on a few projects).  It's what led me to make that PR.  The goal is that, once that PR goes through, this mixin will be obsolete and all the data in the DB will be serialized, making it compatible with the new `SerializedDictionaryField`.

[2015-02-03 21:23] ddohler commented on #93
@alukach -- Great sleuthing! That looks like it explains our problem as well, because our database setup process is similar:

- Create `template_postgis`
- Create django app database from `template_postgis`
- Run `CREATE EXTENSION hstore;` on django app database
- Run`CREATE EXTENSION hstore;` on `template_postgis`

In other words, `template_postgis` is not hstore-enabled until _after_ the django

[2015-02-04 07:31] alukach commented on #93
Okay, doing some late night research, I think I'm beginning to see what the issue is.  Here are my notes so far:

When running tests with the `postgis` backend:

* [This function](https://github.com/django/django/blob/1.6.7/django/db/backends/postgresql_psycopg2/base.py#L90) is called during setup with `settings_dict['NAME']` set as the Django db name (`django_hstore`) (this is set to `None` when

[2015-02-13 10:57] rodo opened #96 "Why contains does not uses @> operator"
Hi,

I probably miss something, I'm a end user of django-hstore and just discover that when doing

```Cerise.objects.filter(data__contains={'org': 'foo'})```

the query executed use the **=** operator instead of **@>** that I presume

[code]

When I would see

```WHERE data @> 'soc=>"breme"'::hstore;```

If I do not miss anything, will you be open for a path to use **@>** operator, that is really

[2015-02-26 15:50] owais opened #97 "Possible to change schema at run time?"
I'm writing something like this,

[code]
Is it possible to override the schema at run time so we can have different schema for cars and bikes? For example in the `__init__` of the model?

[2015-03-15 08:43] aidanlister commented on #97
You sure can, here's an example of a schema loaded at runtime where the schema is defined in the database:

[code]

[2015-03-17 11:21] nemesisdesign commented on #95
This is by design. If you need a different behaviour follow this pull request and send feedback or contribute in any way you can: https://github.com/djangonauts/django-hstore/pull/80

Best regards
Federico

[2015-03-17 11:21] #95 closed

[2015-03-17 11:23] nemesisdesign commented on #94
If there's an issue with the code, please send a bug report. For other questions use the mailing list.

[2015-03-17 11:23] #94 closed

[2015-03-17 11:24] nemesisdesign commented on #97
thanks @aidanlister for the response.

If anyone has other questions, please use the mailing list. Use this issue tracker for bug reports.

Thank you for your understanding

Best regards
Federico

[2015-03-17 11:24] #97 closed

[2015-03-17 15:36] nemesisdesign commented on #96
hi @rodo, sorry for the delayed answer.

We are open for improvements.

@niwibe @fabiocorneti any thoughts on this?

[2015-03-17 15:38] nemesisdesign commented on #84
@drag0nius did you mean there were actual breakages or did you mean you saw deprecation warnings that need to be fixed to be compatible with the upcoming django 1.8 release?

Could you clarify please?

[2015-03-17 15:41] nemesisdesign commented on #93
@alukach thank you for your research.

Any other suggestion of improvement?

Federico

[2015-03-17 16:25] drag0nius commented on #84
@nemesisdesign Yes, django_hstore uses the code which is already deprecated (but not yet completely removed) in 1.7 resulting in breakages.

This is whole source code of [transaction.is_managed()](https://github.com/django/django/blob/stable/1.7.x/django/db/transaction.py#L112-114):
[code]
Then there is [this](https://github.com/djangonauts/django-hstore/blob/master/django_hstore/query.py#L57-59)

[2015-03-17 17:57] nemesisdesign commented on #84
@drag0nius, thank you for the explaination.
I need a bit more of guidance, please could you explain the general steps to reproduce the issues on the interactive shell?

Eg:

[code]

Then...

[code]

If I had this information I could reproduce the issue and study it more in detail.

[2015-03-17 17:59] nemesisdesign commented on #82
@oleiade @daaray check out the latest changes on master (1.3.6 alpha), it would be very helpful if you could test them on your environment and provide feedback.

[2015-03-17 18:21] drag0nius commented on #84
[code]

[2015-03-17 18:40] nemesisdesign commented on #84
Thank you @drag0nius, what python, django and django-hstore versions are you using?

The test you supplied passes and I believe there is already a similar test here:
https://github.com/djangonauts/django-hstore/blob/1afca6e9e95cebc8c65661f7df189856bb9b8bad/tests/django_hstore_tests/tests.py#L967
Do you reckon?

I've tested on:
  * python2.7, django 1.7 and django-hstore master
  * python3.4, djang

[2015-03-17 19:14] drag0nius commented on #84
The test you linked uses neither `hupadte()` nor `hremove()`, those 2 are breaking.

I honestly don't see how could it pass from withing transaction.atomic() block, `hupdate()` and `hremove()` are decorated with `update_query()` then it goes like this:

1. https://github.com/djangonauts/django-hstore/blob/master/django_hstore/query.py#L58
2. https://github.com/django/django/blob/stable/1.7.x/djang

[2015-03-18 09:19] nemesisdesign commented on #84
I just pushed the test case: https://github.com/djangonauts/django-hstore/commit/cb6830a9475ca124c19552d7625456b2ef76373a
Which unfortunately doesn't replicate any bug.
Please send a failing test case.

[2015-03-18 09:19] #84 closed

[2015-03-18 09:20] nemesisdesign commented on #82
Will close this in 1 week if no feedback.

[2015-03-20 21:17] frasergraham opened #99 "Errors when using with Postgres 9.4"
I'm seeing errors using this library with Postgres 9.4. Is there a particular version of the HSTORE extension that I might need for this to work?

when accessing hstore fields in Django I get...

TypeError: string indices must be integers, not str

when using 9.4 but with the same code against 9.3 no issues.

[2015-03-24 17:41] matthieubellon commented on #94
We are struggling on this exact same issue. We subclass models.Field with not luck ATM.

Can't figure out if this is a bug. Where should I discuss this ? (I already opened a thread on Google group)

[2015-03-24 17:45] matthieubellon commented on #94
Hi @honi could you please provide more insight on the coercition your are talking about ?

[2015-03-24 18:05] nemesisdesign commented on #94
@matthieubellon, unfortunately time is tirant, so sometimes messages can pass unanswered on the ML. Try to bump the message on the ML and give more info if you have them.

[2015-03-24 18:06] nemesisdesign commented on #99
Hi,

i haven't tested on 9.4 yet, but this should not happen.

Hopefully somebody else testing on 9.4 can give us more info.

[2015-03-24 18:07] frasergraham commented on #99
What info do you need? I'll try and get it.

[2015-03-24 18:08] #82 closed

[2015-03-24 20:28] honi commented on #94
@matthieubellon, I was writing a custom field that uses a multiple choice checkbox widget, and saves data in the DB as CSV. I stumbled upon this issue when my choices had integer values.

Even if I could always coerce the choice values to strs when saving, I didn't have an easy way to know that I needed to cast them back to something other than str when constructing the field/widget. This in turn

[2015-03-27 21:34] assiotis commented on #96
Looking at the code in query.py (verified), this behavior seems to kick in when you are querying on more than one key

[2015-04-01 04:54] jannon opened #103 "Problem with Django 1.7 migrations?"
I just ran my first migration on a model that has an hstore field in it.  I had changed the default of a datetime field within the hstore field (because of https://github.com/tomchristie/django-rest-framework/issues/2687) and the migration blew up with:
[code]
So I took a look at what the migration was doing:
[code]
It seems like the django_hstore.virtual.VirtualField fields shouldn't be included

[2015-04-01 07:57] nemesisdesign commented on #103
Oh no again.
I tried reporting this problem last year:
https://code.djangoproject.com/ticket/23159
I also sent a pull request: https://github.com/django/django/pull/3013/files
But I was adviced to just set `db_type` as `None` in the virtual fields by @andrewgodwin and the issue was set as won't fix.
It some more tricks I was able to make the basic cases just work fine, but the solutions I found mi

[2015-04-02 00:52] jannon commented on #103
Bah! Okay, yeah I doubt that we'd get them to reopen the issue, especially given Django1.8's new HStoreField.  Until I get a chance to see how 1.8 works, or until the DRF bug gets fixed, I think I'll just manually edit the migrations

[2015-04-02 12:16] nemesisdesign commented on #103
Ok @jannon.

[2015-04-02 12:50] timgraham commented on #103
Can you paste the model field before and after?

[2015-04-05 15:20] andrewfam opened #104 "Centos hstore problems"
I'm using Django 1.7 and had working hstore fields on an Ubuntu server.
Recently moved to a Centos7 and using Postgres 9.3

Admin keeps showing
invalid JSON: SyntaxError: Unexpected token =

Data is as below:
"1"=>"[32, 31, 9, 10, 6, 7, 8]", "8"=>"[9, 10, 6, 7, 8]"

Formatting the data to proper json generates the above again upon save

[2015-04-10 08:31] nemesisdesign commented on #103
@jannon could you answer to @timgraham's question please?

[2015-04-10 10:24] nemesisdesign commented on #104
@andrewfam this is quite hard for me to debug as I don't use CentOS and I cannot verify if this is a misconfiguration or a real bug.

[2015-04-10 11:34] jannon commented on #103
Before:
[code]

After:
[code]

[2015-04-10 13:27] timgraham commented on #103
I think the migration that's generated is correct, but Django doesn't seem to have good support for ignoring virtual fields in the schema editor. You might be able to workaround it by adding a `rel` attribute to `django_hstore.virtual.VirtualField` with the appropriate sub-attributes so that you reach the [no-op branch](https://github.com/django/django/blob/190afb86187e42c449afe626cff31f65b4781aa2

[2015-04-10 14:27] nemesisdesign commented on #103
thx for the info @timgraham, is there any link where we can find more information? A mailing list thread, a ticket, or anything else?

[2015-04-10 14:33] timgraham commented on #103
More information about what? Composite field DEP is here if that's what you meant: https://github.com/django/deps/pull/12

[2015-04-10 14:37] nemesisdesign commented on #103
Exactly, thank you.

[2015-04-15 10:48] nemesisdesign opened #105 "django 1.8 support"
Anyone wants to help out?

[2015-04-16 08:30] stringfellow opened #106 "using __icontains={'foo': 'bar'} behaviour has changed between django versions"
In django 1.6.x you could use django_hstore to perform `FIELD__icontains={'foo': 'bar'}` -- though this is not explicitly documented, there are cases of use for `__icontains` with strings.

Having upgraded to 1.7, this no longer works, causing an error in the SQL

For test example, see: https://github.com/stringfellow/django-hstore-icontains

[2015-04-18 17:06] nemesisdesign commented on #105
follow #107

[2015-04-19 11:01] nemesisdesign commented on #103
@timgraham & @jannon I pushed a possible fix for the ValueError in e3ff9bf, the problem is I don't have a clue of how to make a failing test case ... :-1: any hints?

[2015-04-19 13:25] nemesisdesign commented on #103
After some manual testing it turned out the code e3ff9bf was not effective.

Thanks to @apollo13's help I come up with 618f1ff which correctly eliminates the ValueError, the problem is I still can't figure out how to test this automatically.

[2015-04-20 12:21] timgraham commented on #103
You might take inspiration from Django's test suite: https://github.com/django/django/blob/master/tests/schema/tests.py

[2015-04-21 10:41] nemesisdesign commented on #106
hey @stringfellow, thank you for reporting this bug.
It would have been so much easier to review if the failing test case would have been included in a pull request to this issue, rather than in a separate repository.
Could you do that?

Let me know
Federico

[2015-04-21 10:43] nemesisdesign commented on #106
is this the test case? Are there other tests?
https://github.com/stringfellow/django-hstore-icontains/blob/master/lookup_test/tests.py#L11

[2015-04-21 12:08] nemesisdesign commented on #90
This was merged and released in 1.3.6, see #91 for more info

[2015-04-21 12:08] #90 closed

[2015-04-21 12:09] nemesisdesign commented on #63
One test to ensure there are no migration issues on VirtualField has just been added, see #103 for more info.

[2015-04-21 12:09] #63 closed

[2015-04-21 12:15] nemesisdesign commented on #99
Try to clone this repo, follow the instructions (all the steps) on how to run the unit tests, and report any error.

[2015-04-21 12:15] nemesisdesign commented on #104
Try to clone this repo, follow the instructions (all the steps) on how to run the unit tests, and report any error.

[2015-04-21 12:33] nemesisdesign commented on #106
I checked the documentation and the tests, it turns out `icontains` lookups only work when doing text based lookups.

    You can still do classic django "contains" lookups as you would normally do for normal text fields if you were looking for a particular string. In this case, the HSTORE field will be converted to text and the lookup will be performed on all the keys and all the values:

[code]

[2015-04-21 12:33] #106 closed

[2015-04-21 12:47] nemesisdesign commented on #96
Another place to look at is: https://github.com/djangonauts/django-hstore/blob/master/django_hstore/lookups.py

Unfortunately there is some code duplication because for django >= 1.7 the new lookups are used.

[2015-04-21 12:51] nemesisdesign commented on #96
BTW @rodo we are open for improvements

[2015-04-21 13:07] nemesisdesign commented on #75
Sorry for the delay in the answer, we had many issue to resolve. At the moment this is not possible so I marked this as a feature request.

[2015-04-22 07:56] nemesisdesign commented on #103
It should be fixed.

Thanks to everyone who helped out: @jannon for reporting, @timgraham and @apollo13 for helping me with suggestions.

I opened a new thread on django-developers here: https://groups.google.com/forum/#!topic/django-developers/_FmJRK3sJGs

I received another suggestion by @MarkusH which I'll try out before closing this issue.

[2015-04-22 16:05] jannon commented on #103
Federico,
This works great!
It'll be nice if the the ```virtual=True``` suggestion will even help clean things up a bit

[2015-04-23 17:36] nemesisdesign commented on #103
I mark this closed for the moment, but I'll keep following the mailing list for suggestions.

[2015-04-23 17:36] #103 closed

[2015-04-28 15:24] stringfellow commented on #106
Hiya, yes - sorry I'm not entirely sure why I chose to make a separate repo (was pretty tired I think... )
The reason I classed it as 'bug' rather than 'feature' is only because the behaviour changed between versions (i.e. before, regardless of what the docs said, it accepted a dict for an `__icontains` lookup). Anyway, thanks for looking into it and sorry for misunderstanding the docs!

[2015-04-28 15:58] stringfellow opened #109 "id is not always a field on models, use pk instead"
If the primary key of a model is not auto, then it should be accessed by `pk`:
https://github.com/djangonauts/django-hstore/blob/master/django_hstore/fields.py#L251

[2015-04-29 08:06] nemesisdesign commented on #106
no problem, remember we are open for improvements, one of the things I'd like to put on the roadmap is making django-hstore API compatible with django 1.8's HStoreField, but at the same time providing the additional features of django-hstore.

[2015-04-29 08:08] #109 closed

[2015-04-29 08:11] nemesisdesign commented on #109
thank you very much @stringfellow

[2015-04-29 17:00] stringfellow opened #111 "create() fails (using model with slug PK) with passed dict"
With `SerializedDictionaryField` using `create(data={'foo': 1})` fails if using a model with a non auto-id (e.g. slug)

[2015-04-29 18:49] wolever commented on #96
This is a fairly significant issue, as GIN/GiST indexes are _only_ used with `@>`:

    Seq Scan on people  (cost=0.00..44.84 rows=5 width=113)
      Filter: ((fields -> 'first_name'::text) = 'David'::text)

    Index Scan using people_fields_gist on people  (cost=0.00..8.27 rows=1 width=113)
      Index Cond: (fields @> '"first_name"=>"David"'::hstore)

[2015-05-14 02:24] 9gix commented on #105
I believed in Django 1.8 has [django.contrib.postgres.fields.HStoreField][1] internally.

[1]: https://docs.djangoproject.com/en/1.8/ref/contrib/postgres/fields/#django.contrib.postgres.fields.HStoreField

[2015-05-15 09:50] nemesisdesign commented on #105
@9gix it has but it doesn' have the same features and API of django-hstore, so we'll make a new release that is compatible with django 1.8 and then gradually wrap django's implementation and our additional features on it.

[2015-05-16 11:31] nemesisdesign opened #113 "[schema-mode] dumpdata dumps virtual fields that provoke failure on loaddata"
When using schema mode, the command `./manage.py dumpdata' will dump hstore fields as if they were concrete fields.

This can cause problems in certain circumstances.

[2015-05-16 19:07] pembo13 opened #114 "DictionaryField does not implement to_python"
I'm not sure why, but seems to, at least sometimes, cause problems with DictionaryField, for me, specifically during a `python manage.py loaddata` I had to monkey-patch in a `to_python` to get my loaddata to work.

[code]

[2015-06-01 07:36] aidanlister opened #115 "Schema mode 'VirtualField' object has no attribute 'concrete'"
I'm seeing this, which doesn't seem to be caused by any third party library:

[code]

How can I help isolate what is calling this to submit a test case?

Django Version: 1.8.2
Python Version: 2.7.8
django-hstore==1.3.4

[2015-06-01 09:12] nemesisdesign commented on #115
Hi

On 06/01/2015 09:36 AM, Aidan Lister wrote:

Looking at the stacktrace, I can only guess it's some template rendering
in the frontend of a django project.

Could you tell us more?

You have to do some debugging in your code and find the module and the
lines of code involved, then this case has to be added in the test env.

Federico

[2015-06-02 19:02] caktus-philip commented on #99
@frasergraham Some of my colleagues and I have run into a similar-sounding problem. Existing installations work fine (using Postgres 9.3 *and* 9.4), but those of us building new installations find that our tests break with the exact same `TypeError` that you reported.

For the two setups that broke, adding this to our settings fixed the problem:
[code]

That's from this warning in hstore doc: http

[2015-06-03 12:39] nemesisdesign commented on #99
@caktus-philip after having cloned the repo, do the test pass without adding `DJANGO_HSTORE_ADAPTER_REGISTRATION='connection' or did you have to add it in the local_settings.py?

[2015-06-03 14:14] caktus-philip commented on #99
I didn't have to use `DJANGO_HSTORE_ADAPTER_REGISTRATION='connection'` in the django-hstore code to get it to pass. I did have to add django to `requirements.txt`.

[code]

FWIW I used `python runtests.py --settings=settings_psycopg`.

[2015-06-04 09:39] nemesisdesign commented on #114
Hi @pembo13,

would you be able to specify the steps in order to reproduce this bug?

The best thing would be a failing test case, but even a high level procedure would be good.

Thanks

[2015-06-04 09:40] nemesisdesign commented on #115
I suppose you're using django-1.8, please continue the discussion on #107

[2015-06-04 09:40] #115 closed

[2015-06-07 05:25] emorozov opened #116 "zc.buildout cannot install version 1.3.7"
Version 1.3.7 of the django-hstore cannot be installed via buildout. It always fails with the following error:
[code]

I guess distribution format has changed in 1.3.7 and buildout is not compatible with it. Can some compatibility distribution be added for the buildout?

[2015-06-07 08:57] nemesisdesign commented on #116
Replicated issue with:

    pip install --no-use-wheel django_hstore==1.3.7

Next time something like this happens try this:

    pip install -U pip wheel setuptools
    pip install <package>

I had to upload the source distribution again on pypi with a different name. It should be fixed now.
Let me know.

[2015-06-07 08:57] #116 closed

[2015-06-07 14:26] nemesisdesign commented on #105
#107 is merged, please test and open new issues if you find any django 1.8 related bug

[2015-06-07 14:26] #105 closed

[2015-06-08 22:42] bijanvakili opened #117 "AttributeError when running 'makemigrations' on Django 1.8"
I found this while doing some initial testing with Django 1.8 using latest code (commit 1376a667d9a2baa0e383024c8dbaee59e924bade) after waiting for issue #105 to be closed.

When running ```python manage.py makemigrations``` on an containing an ```hstore.DictionaryField``` in schema mode schema I get the following error:

[code]

No changes were made to my model.  The virtual field in question has

[2015-06-08 22:45] bijanvakili commented on #117
@nemesisdesign @aidanlister This is the only issue I was able to find since your fix for Django 1.8.  Everything else seems to be working normally for me.

[2015-06-09 09:41] nemesisdesign opened #118 "Improve reload_schema for django 1.8"
These lines:
https://github.com/djangonauts/django-hstore/commit/25fdb40489e2e0cb7d83fadcc1ef18d146c92263#diff-f3e4494d3b255df381e14ae1253278d3R1475

Are not really a fix but a quick and dirty fix. This test needs to be refactored to work well with django 1.8 and ensure the behaviour is unchanged.

[2015-06-09 09:44] nemesisdesign commented on #117
Looks like something here: https://github.com/djangonauts/django-hstore/blob/master/django_hstore/virtual.py#L91

[2015-06-10 15:37] DanielFerreiraJorge opened #119 "Using F() expressions?"
Is it possible to use F() expressions to update an HStore field? I want to have a "stats" field in my models, for collected statistics of the model... for instance:

class State(model.Model):
    name = models.CharField()
    stats = HStoreField(default={"cities_count": 0}

I want the stats->cities_count incremented using an F() expression whenever a City is added to the State... does anyone know

[2015-06-11 15:35] Usvad opened #120 "Hstore validate: value not assignment"
When define filter class for rest framework:
class DictionaryHstoreFilter(django_filters.Filter):
    field_class = forms.DictionaryField

viewset forms is not validated.

When change in forms.py (in def validate_hstore - line 19):
if value == '' or value == 'null':
to...
if __value is None__ or value == '' or value == 'null':
forms is validate work!

Thank you.

[2015-06-11 15:49] #120 closed

[2015-06-17 14:02] ktosiek opened #123 "get_prep_value is not called on schema fields"
I have a custom field that uses to_python/get_prep_value to (de)serialize a custom object.
Something like `HandField` from https://docs.djangoproject.com/en/1.8/howto/custom-model-fields/.

When I'm using that field in `hstore.DictionaryField` schema my object is cast to string which is not a sensible representation. I was expecting `DictionaryField` to clean values with `get_prep_value` before ca

[2015-06-28 10:38] nemesisdesign commented on #119
Hi @DanielFerreiraJorge, i sincerely don't know because I have not tried `F()` expressions yet.

[2015-06-28 12:46] nemesisdesign commented on #117
Closed by https://github.com/djangonauts/django-hstore/commit/1e8e48619f0507d0e5dd25bb93559795880b7e20

[2015-06-28 12:46] #117 closed

[2015-06-28 12:47] nemesisdesign commented on #114
@pembo13 any info?

[2015-06-28 15:32] #118 closed

[2015-06-28 15:36] nemesisdesign commented on #119
For further questions, use the discussion group: https://groups.google.com/forum/#!forum/django-hstore

[2015-06-28 15:36] #119 closed

[2015-06-28 15:38] nemesisdesign commented on #104
Closing because no detailed information was provided, if anybody will provide more insights I'll reopen.

[2015-06-28 15:38] #104 closed

[2015-06-28 15:45] nemesisdesign commented on #113
might be related to #114 and #123

[2015-06-28 15:55] nemesisdesign commented on #123
This looks related to #114.

[2015-06-28 16:02] nemesisdesign commented on #123
What were you expecting exactly? Could you help me by giving me an example with:

* model data
* operation performed
* expected behaviour
* actual behaviour

I'm trying to replicate the behaviour you mentioned but I don't notice anything strange, so I need your help to replicate your use case.

[2015-06-28 16:31] #111 closed

[2015-06-28 16:33] nemesisdesign commented on #111
@alukach this issue was related to SerializedDictionaryField, I had to introduce this little change to fix it: https://github.com/djangonauts/django-hstore/commit/c3f3142e6bf9d82d5e91e4353033b09b712f0397

Could you check it out when you have time and let me know if all is ok?

[2015-06-28 16:50] nemesisdesign commented on #96
Practical proposals still welcome.

[2015-06-28 18:01] alukach commented on #111
Absolutely, will take a look shortly.
On 28 Jun 2015 10:33 am, "Federico Capoano" <notifications@github.com>
wrote:

[2015-06-28 20:38] ktosiek commented on #123
I've made a repo with an example: https://github.com/ktosiek/django-hstore-issue-123-example.
`HandField` has dedicated code for serializing Hand to a string, but it looks like django-hstore uses `str(value)` as the serialization of `Hand`.

model data: https://github.com/ktosiek/django-hstore-issue-123-example/blob/master/example/example/models.py and https://github.com/ktosiek/django-hstore-issu

[2015-06-28 23:20] nemesisdesign commented on #123
hey @ktosiek, what about adapting a simplified version of those tests into django_hstore?

[2015-06-29 02:39] pembo13 commented on #114
Sorry, but I didn't write a proper test, just a test project, and instructions.

# Test Project

I don't see any way to attach a file to this issue, so please use this http://arthurpemberton.com/wp-content/uploads/2015/06/hstoretest.20150628.zip

# Test Instructions

[code]

[2015-06-29 04:15] ktosiek commented on #123
It would make more sense, yes :-)
I'll try to do it later today.

[2015-06-29 12:44] nemesisdesign commented on #123
thank you @ktosiek, whenever you have time, it will be easier to address it and solve it.

Do you think this is in anyway related to #114?

[2015-06-29 12:55] nemesisdesign commented on #114
Thank you @pembo13, my question is, wouldn't it have better to include the test in django-hstore's test suite?

See: http://djangonauts.github.io/django-hstore/#_developers_guide

[2015-06-29 12:55] nemesisdesign commented on #123
PS: see also this section of the docs: http://djangonauts.github.io/django-hstore/#_developers_guide

[2015-06-30 03:52] pembo13 commented on #114
It is probably better, but it wasn't faster for me at least.

I have written a failing test. However it fails even for simple data, so maybe the problem is worse than I thought.

[code]

Let me know if there's another step you'd like me to take.

[2015-06-30 06:36] ktosiek commented on #123
I don't see any relation with #114.

[2015-06-30 07:46] nemesisdesign commented on #114
thank you @pembo13, could you also tell me on which python and django versions you experience the issue?

[2015-06-30 14:22] pembo13 commented on #114
I believe I was on Django 1.7 when i first saw the problem. But currently:

 * Python 2.7.5
 * Django 1.8.2

[2015-07-05 17:32] alukach commented on #111
Have we been able to verify this bug?  Looking at [this test](https://github.com/djangonauts/django-hstore/blob/5e403bf469ac8fe8e4c3d9d08f05c79e47662296/tests/django_hstore_tests/tests/test_serialized_dictionary_field.py#L56-L58):

[code]

[The models](https://github.com/djangonauts/django-hstore/blob/5e403bf469ac8fe8e4c3d9d08f05c79e47662296/tests/django_hstore_tests/models.py#L40-L48) are as such

[2015-07-05 17:45] alukach commented on #111
Ah, okay, I now see that the `test_create_directly` test was created to illustrate this bug and that @nemesisdesign's fix was merged.

All looks good to me!

[2015-07-06 14:41] nemesisdesign commented on #111
thx @alukach

[2015-07-14 22:32] jmbowman opened #126 "Bug in exclude() using contains"
I have a query that includes a condition like the following:

[code]

In django-hstore 1.3.4 and earlier, this translated to the following SQL:

[code]

But starting in 1.3.5, it changed to the following:

[code]

The latter breaks down when the hstore field is not null but doesn't contain the key.  It simplifies as follows:

Hence the condition ultimately evaluates as false and the record is excl

[2015-07-27 14:38] benoitbryon opened #127 "Setup models using HStoreManager.from_queryset(HStoreQuerySet)()"
As explained in https://docs.djangoproject.com/en/1.7/topics/db/managers/#from-queryset, when we have a custom manager and queryset classes, we can use manager's `from_queryset()` method.

Does this pattern apply here? I mean, in order to setup a model, the [documentation currently tells] (http://djangonauts.github.io/django-hstore/#_usage):

[code]

Shouldn't it be something like this instead?

[

[2015-07-28 16:31] rklyne commented on #93
I think I've found the problem and solution. My reproduction was different though.
Django signals are used to observe every new connection and call psycopg2's register_hstore function on it.
Django signals will, by default, store references to the receiver function as weakrefs.
In a low memory situation these can go away and future connections are not registered to use hstore features.
My suggeste

[2015-08-13 10:37] Stranger6667 opened #129 "Bug with inherited models"
Hello!
I have following setup (based on django-hstore test setup):

[code]

I've tried to create & modify some data but get this:

[code]

However in database data is not corrupted. Pointer to base table is OK, and data is also OK.
I use postgresql 9.4.1 and Django 1.7.9 during tests.
[Here](https://github.com/Stranger6667/django-hstore/commit/75242dc304b2033129ae7b5fb3839fd385c2eb16) is test case

[2015-09-21 13:55] modohash opened #130 "Multiple Parameters in 'contains' query"
Hi,

I have a hstore field called metadata which contains 2 fields:
 - site_id
 - department_id

I'd like to run a query which matches on multiple site_id's and a single department_id. I know if I want to filter on multiple site_id's I can do this:

[code]

That works great, the problem comes when I try this:

[code]

I get the following error:

[code]

Is this a supported operation? I've looked a

[2015-09-21 14:15] modohash commented on #130
I've just been looking through the code, I don't think what I'm doing right now is supported. Looking at query.py lines 97-108

I'll look at writing a patch for this to handle multiple list/tuple fields in a contains clause

[2015-09-21 15:38] modohash commented on #130
I was able to implement a work-around by parsing out the filter data and building up a query using Q objects to get essentially the same functionality. Closing this off.

[2015-09-21 15:38] #130 closed

[2015-09-23 00:31] aschriner opened #131 "hkeys() does not return all keys"
https://github.com/djangonauts/django-hstore/blob/355388cbd1cdc30854149796042a82e0a2b61a46/django_hstore/query.py#L155-L162

http://stackoverflow.com/questions/12015942/most-efficient-way-to-retrieve-a-unique-list-of-keys-from-all-rows-of-an-hstore

The `hkeys()` method probably needs a DISTINCT clause.  Will follow up with a PR.

[2015-10-05 13:25] omkarvijay5 commented on #47
upgrade django_hstore to 1.4

[2015-10-11 04:54] RyanBalfanz commented on #76
+1

Any updates on this?

I agree with @mjtamlyn about the `Operation`. Access to the template dbs are not always available. For exmaple, I cannot use this project with Heroku's Review Apps, which is unfortunate. I also cannot run my tests (maybe related to #93).

The only workaround that sort of works now (for running tests) is to set `HAS_STORE=False` on the default database as in

[code]
…
The

[2015-10-14 16:51] bufke commented on #76
I'm using django 1.8 HStore field. I'd like to use that with this project (for perks like the admin widget, schema, ect). Is there anyway I can help with this task? It might be possible for me to pay someone already involved in the project to get this done. If you want to send me a private email it's david at burkesoftware dot com

[2015-10-14 17:12] nemesisdesign commented on #76
hi everybody, sorry for being very laggish but I'm very busy with other projects right now.

I invite more developers to step in and contribute to this project, the best way to do this is through the mailing list: https://groups.google.com/forum/#!forum/django-hstore

[2015-10-14 17:51] bufke commented on #76
Of course, we all get busy! Thanks for open sourcing the project and letting people use hstore before 1.8! I'll take a look at the code a bit.

Here's an existential question - does it make sense to add django's hstore to this project or break out features into their own addons for django? django-hstore-admin django-hstore-schema (those are what I'm most familiar with on this project)

[2015-10-24 13:50] aidanlister opened #132 "Django 1.9 and EmptyShortCircuit deprecated"
Here's the commit where it's removed:
https://github.com/django/django/commit/4d3470e52e005ed75aa6c7d4204bf5ca87733f85

[2015-11-03 01:42] jarekwg opened #135 "Update HStoreWhereNode to follow django's WhereNode"
The Constraint class has been deprecated since django17 and was removed in django19 (django/django@5008a4) in favour of the Lookup class, which was introduced in django17 (django/django@20bab2).

Consequently django's WhereNode class looks very different now than it used to and HStoreWhereNode needs to be rewritten to follow suit.

Required action:
-Update HStoreWhereNode to behave like WhereNode

[2015-11-03 08:59] nemesisdesign opened #136 "Add settings to documentation"
we should document these two settings:

- [ ] `HSTORE_REGISTER_GLOBALLY`
- [ ] `CONNECTION_CREATED_SIGNAL_WEAKREF``

[2015-11-03 09:01] nemesisdesign commented on #132
Will be closed by #133

[2015-11-03 09:06] nemesisdesign commented on #132
Try the latest master and let me know if it works so we can close this and move on.

[2015-11-03 11:44] aidanlister commented on #132
I'm a little worried about replacing EmptyShortCircuit with Exception ... what's it meant to be?

[2015-11-03 13:55] nemesisdesign commented on #132
It's the best short term solution we can think of. Please test it and report any problems or suggest an alternative solution. Read #133 for more info.

[2015-11-23 11:13] Deepakdubey90 commented on #93
Hey Guys,

              I'm also facing the same issue with "HstoreField" , while running the Test-Cases .
I don't understand why its throwing error Test_Database but not throwing error for actual Database creation.  postgres ==9.3.10. django ==1.8.6

//////////////////////////////
Error :: "django.db.utils.ProgrammingError: can't adapt type 'dict'"
///////////////////////////
Is there a way to f

[2015-11-24 09:33] rklyne commented on #93
That's not the error I was seeing, but possibly that's a 1.6-1.8 difference.
There's a fix for this issue in master - install from there and see if that resolves your issue?

[2015-11-24 09:40] Deepakdubey90 commented on #93
Thanks @rklyne,
https://docs.djangoproject.com/en/1.8/ref/contrib/postgres/fields/
I got solution from above url.

[2015-11-26 14:02] TehQuila opened #137 "ValueError when saving a regular JSON string"
Hi, I think I stumbled over a problem with the  `SerializedDictionaryField`.

I found that JSON strings at the root level of a JSON object fail to be saved to the database with a `ValueError`.

I have the following model

[code]

and I use the `HStoreSerializer` of the `django-rest-framework-hstore`

[code]

When I post the following data to my view

[code]

I get the following error

[code]

I ti

[2015-12-07 13:16] 23doors commented on #132
It seems to be working fine although it seems pretty dirty. Any eta on updating pypi version?
Anyway. Instead of potentially hiding some process() issues by reraising a different exception in 1.9, it would be better to just do not catch anything there or at least reraise original exception.

[2015-12-07 15:47] nemesisdesign commented on #132
Feel free to send a pull request with a solution you think works better.

[2015-12-07 15:54] #132 closed

[2015-12-07 16:11] 23doors commented on #132
Sure. But are there any chances of pushing what we got now to pypi any time soon? It may not be super pretty but it does the job.

[2015-12-07 17:52] nemesisdesign opened #139 "Drop support for django 1.6"
Drop support for django 1.6

[2015-12-07 17:52] nemesisdesign opened #140 "Add support for Django 1.9"
Add support for Django 1.9

[2015-12-07 18:41] nemesisdesign commented on #93
I'm closing this, hoping it is will be finally solved with #128

[2015-12-07 18:41] #93 closed

[2015-12-07 18:42] nemesisdesign commented on #135
Closing this as #133 was merged

[2015-12-07 18:42] #135 closed

[2015-12-07 19:06] #136 closed

[2015-12-07 19:21] #140 closed

[2015-12-07 19:37] #139 closed

[2015-12-08 18:13] nemesisdesign commented on #132
@23doors I released 1.4.1 yesterday

[2015-12-10 19:52] GooseYArd opened #141 "register_hstore_handler is not run during django management commands"
Hi All,

 I'm experiencing the same problem as issue #93, I'm not a postgis user though, and neither of the two suggested settings workarounds seem to affect my issue, which occurs when running a Django management command that uses a couple of models that contain hstore fields.

 I've confirmed that the hstore oids are consistent among the databases, and then did a little printf debugging. I found

[2015-12-19 21:20] yushkovskiy opened #142 "icontains lookup doesn't work with dictionary params"
ProgrammingError: operator does not exist: text -> unknown
LINE 1: ...act" WHERE (UPPER("app_model"."hstorefield"::text)->'custom_...
                                                             ^

I believe that problem is in replacement of '::text' to '::hstore'. The condition
https://github.com/djangonauts/django-hstore/blob/master/django_hstore/lookups.py#L82
checks that lhs ends with '::text'

[2016-01-18 12:37] sanchitsharma commented on #141
I am too facing the same issue. Can you elaborate a bit on how you are solving the issue for now .i.e (where do you get the connection object to pass in the register_hstore function)

[2016-01-18 17:45] yoanisgil opened #143 "ProgrammingError: can't adapt type 'HStoreDict'"
I'm running into a problem described by the title of this issue, and it's bugging me a bit because I cannot seem to find a proper explanation. Below my dependencies:

[code]

My *DATABASES* settings looks like this:

[code]

And the model looks like this:

[code]

and this is what I get when I try to create a Request instance:

[code]

what I find strange is that I have a similar projet (same Djan

[2016-01-22 14:41] yoanisgil commented on #143
Closing this as i finally found the issue. I forgot to add 'django_hstore' to INSTALLED_APPS.

[2016-01-22 14:41] #143 closed

[2016-02-01 19:38] prokaktus opened #144 "1.4.1 regression: TypeError: Decimal is not JSON serializable"
Hello!

This issue introduced by commit 3b235cb9dfe6a197179399cc63d115003ea71f62.

django-hstore version: 1.4.1
django version: 1.7
python version: 2.7.6

**Problem description:**
My model have field `hstore.DictionaryField`. Before 1.4.1, in method `ensure_acceptable_value`, code
https://github.com/djangonauts/django-hstore/blob/3b235cb9dfe6a197179399cc63d115003ea71f62/django_hstore/dict.py#L123

[2016-02-03 16:04] nemesisdesign commented on #144
Please send a failing test with a patch.

[2016-02-22 07:03] abersh commented on #131
django.core.exceptions.ImproperlyConfigured: GEOS is required and has not been d
etected. Are you sure it is installed? See also https://docs.djangoproject.com/e
n/1.8/ref/contrib/gis/install/geolibs/.     how to fix this problem pls help !!!

[2016-02-23 11:04] jcalazan opened #146 "GrappelliAdminHStoreWidget - Deleting elements doesn't work properly inside StackedInline"
django==1.8
django-hstore==1.4.1
django-grappelli==2.7.3

Only a problem with StackedInline.

To reproduce:

1. Add inline object.
2. Add a 2 elements in the hstore.DictionaryField
3. Save
4. Click one of the `-` (remove) icon -> instead of just deleting 1 element, all elements got deleted instead.  And then when you add another inline object and hit save, a ValidationError occurs complaining abou

[2016-02-23 11:06] nemesisdesign commented on #146
It's a documented known issue:

**The admin widget will work with inlines only if using StackedInline. It won’t work on TabularInline.**

http://djangonauts.github.io/django-hstore/#_limitations

[2016-02-23 11:06] #146 closed

[2016-02-23 11:10] jcalazan commented on #146
@nemesisdesign I'm actually using StackedInline and seems to work fine except when deleting existing hstore elements.

[2016-02-23 11:11] jcalazan commented on #146
Also, only a problem with the Grappelli widget, the Default admin widget doesn't have the same issue.

[2016-02-23 13:12] nemesisdesign commented on #146
If you fix it send a patch.

[2016-02-23 20:30] clifff commented on #141
I ran into this problem too - in both `manage.py shell` and in a mangement command, I'd get `ProgrammingError: can't adapt type 'HStoreDict'` errors every time I tried to create a model instance with an Hstore field.

@sanchitsharma: I worked around it by adding this to my management command:

[code]

[2016-02-29 14:06] prokaktus commented on #144
Now it can be closed.

[2016-02-29 14:06] #144 closed

[2016-03-03 17:42] nemesisdesign commented on #144
Thank you @prokaktus

[2016-03-20 11:39] nemesisdesign commented on #131
You can run tests for psycopg only and avoid having to install the GIS libraries::

[2016-03-21 14:16] gpip opened #148 "Broken links for admin in Django 1.9"
At `templates/hstore_default_widget.html` django_hstore links to `admin/img/icon_addlink.gif` and others, but Django 1.9 replaced those by svg ones.

For instance, in django_hstore you'll find `<img src="{{ STATIC_URL }}admin/img/icon_addlink.gif" width="10" height="10" alt="{% trans 'Add Another' %}">`

While Django expects something closer to `<img src="{% static 'admin/img/icon-addlink.svg' %}"

[2016-03-21 16:20] nemesisdesign commented on #148
Thx for reporting, send a patch if you can.

[2016-03-22 09:26] nemesisdesign commented on #141
is `django_hstore` in your `settings.INSTALLED_APPS`?

[2016-04-02 20:57] nemesisdesign commented on #148
Closed by #149 and 9ed1804

[2016-04-02 20:57] #148 closed

[2016-05-17 10:01] dannosaur commented on #126
Yea, I'm seeing this as well. Trying to exclude records that have a specific key in the dictionary isn't yielding any rows at all. I'm using django_hstore 1.4.2.

[2016-05-17 12:00] andrewhayes1979 commented on #126
+1

[2016-05-27 19:56] aleccool213 commented on #76
@bufke
Super old question but I am actually using this project specifically for the admin interface and I think your idea is great. I also changed a few things with how this package depends on the native hstore when running migrations for the first time (in relation to https://github.com/djangonauts/django-hstore/issues/76).

[2016-10-22 15:49] Farcorn opened #154 "'module' object has no attribute 'subclassing' in django 1.10"
I keep getting this issue after upgrading from django 1.9 to 1.10.

looks like the file subclassing.py is missing in django.19
`class HStoreDescriptor(models.fields.subclassing.Creator):`

[2016-10-26 14:18] matthewh commented on #154
+1 to this. I'm seeing the same issue with 1.10.

[2016-10-31 18:16] shacker commented on #154
+1 - Django upgrade blocker for our team.

[2016-11-01 20:50] dangayle opened #155 "Documentation for old versions"
Is there a way to get to the documentation for the older versions?

[2016-11-02 15:35] MattHardcastle commented on #155
You can get the documentation, going back to version 1.2.5, in the doc directory at the commit that was tagged for that release. For example, [docs](https://github.com/djangonauts/django-hstore/tree/1.2.5/doc) is the documentation for version 1.2.5.

As far as I can tell github.io, the hosting platform for django-hstore's documentation, doesn't have a way of referring to previous versions of the s

[2016-11-09 22:23] dangayle commented on #155
Ok, thanks.

[2016-11-09 22:23] #155 closed

[2016-11-10 09:52] nemesisdesign commented on #155
I would like to convert the docs to sphinx in order to publish it on readthedocs.org, so we can have this feature, but I have no time to do this. If anyone is interested to help me out let me know.

[2016-11-10 18:38] MattHardcastle commented on #155
I can take a stab at it @nemesisdesign. The conversion from _asciidoc_ to _restructed_ should be simple enough.

[2016-11-10 20:20] MattHardcastle opened #156 "Move documentation to readthedocs.org"
In issue #155 @nemesisdesign mentioned his desire to move the docs to readthedocs.org. I'm creating this issue to track the progress of that work.

[2016-11-24 09:58] nemesisdesign commented on #154
Anyone has looked into the issue and has a solution to propose?

[2016-11-24 10:00] nemesisdesign commented on #154
Pull request #151 partially addressed this issue but some tests in the travis build are still failing. If anyone can help out, please do so.

[2016-12-14 03:09] chuck commented on #141
I'm suddenly seeing this after upgrading from Django 1.7 to Django 1.8.17 (and from django-hstore 1.4 to 1.4.2, though not surprisingly reverting that minor upgrade doesn't change anything).

`django_hstore` is in `settings.INSTALLED_APPS`. Fiddling with the order of INSTALLED_APPS hasn't resulted in any improvement.

I don't have a small reproducible case, but I'm happy to debug. The workaround d

[2016-12-19 16:06] nemesisdesign commented on #156
@MattHardcastle what do you think of the result? http://django-hstore.readthedocs.io/

[2016-12-26 17:46] MattHardcastle commented on #156
I love it!

[2016-12-26 17:46] #156 closed

[2017-01-13 05:03] perrohunter opened #159 "HstoreField over escaping strings"
Hi, I'm trying to store a record history on an hstore field, however every time I retrieve the field and save to it, things start getting over escaped.

My custom models.Manager defer's the retrieval of `history` field (of type hstore) so every time there's an update I retrieve the field in the following manner
[code]
after that, I update the history and store it.

[code]

even after the first sav

[2017-01-13 05:12] perrohunter commented on #137
Did you solved this issue?

[2017-01-15 14:24] TehQuila commented on #137
@perrohunter No, sadly the project I used django-hstore in was discontinued so I didn't look into that anymore. I have no further information concerning this issue.

[2017-01-23 23:27] perrohunter opened #160 "Able to dumpdata with django but not loaddata"
I'm trying to save some fixtures by performing a `dumpdata`, the problem is that the `SerializedDictionaryField`s I have are not being properly parsed back when I perform a `loaddata` of the file.

Error I get

[code]

[2017-01-30 13:19] angelo-romano commented on #154
Hello all, experiencing this issue as well with Django 1.10, which basically makes the whole project unusable at this stage. I would say it's pretty _urgent_ and it should be fixed with high priority, given its blocking nature.

My traceback:
[code]

[2017-01-30 18:30] shacker commented on #154
@angelo-romano It looks like my team is temporarily working around this by installing from github rather than pypi (i.e. they seem to have it fixed in recent commits, but the change hasn't made it to pypi yet).

`pip install git+https://github.com/djangonauts/django-hstore.git`

[2017-02-09 09:05] nemesisdesign opened #161 "New maintainers needed"
Many people are still using this project but I have no resources to maintain it now.

There are quite a few issues that need to be resolved, in primis compatibility with latest django versions and cleanup.

**I would be VERY happy to give commit access to people that will help to resolve some issues.**

**PLEASE HELP**. This is free and open source software, it needs your help to continue improvin

[2017-02-09 09:05] nemesisdesign commented on #160
please read #161

[2017-02-09 09:05] nemesisdesign commented on #159
please read #161

[2017-02-09 09:06] nemesisdesign commented on #154
please read #161

[2017-02-22 10:29] Farcorn commented on #154
@nemesisdesign Please when will changes be me to pypi?

[2017-02-22 14:08] nemesisdesign commented on #154
@Farcorn please read #161

[2017-05-27 23:34] scheung38 commented on #154
Hi this issue is still open?

        class HStoreDescriptor(models.fields.subclassing.Creator):
     AttributeError: 'module' object has no attribute 'subclassing'

pip install git+https://github.com/djangonauts/django-hstore.git gives another error:

    "hstore type not found in the database. "
    django.db.utils.ProgrammingError: hstore type not found in the database. please install it from

[2017-05-28 12:19] scheung38 opened #163 "Import Error?"
$ pip install -e git+git://github.com/djangonauts/django-hstore#egg=django-hstore

INSTALLED_APPS = (
    ...
    "django_hstore",
    ...
)

but

from django_hstore import hstore <-- Unresolved ?

[2017-09-26 01:45] DustinHolden commented on #141
I just started using django_hstore with a project and am encountering this same issue, and the workaround worked for me. Just curious if anyone had any more information on this before I started digging into it?

Django 1.8.18, django_hstore 1.4.2.

[2017-09-26 15:01] chuck commented on #141
@DustinHolden which workaround worked for you? I have one that works in shell/shell_plus, but I haven't figured out how to incorporate it into migration generation, which is a constant pain.

[2017-11-13 06:39] #137 closed

[2022-05-12 13:52] AirJunda opened #168 "Security vulnerability related to underscore-min.js"
The underscore-min.js from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

In django-hstore, underscore-min.js 1.5.2 is used.
Could you update the django-hstore package to use underscore-min.js >=1.13.0-2?

[2022-11-09 17:38] Xevib opened #169 "ImportError: cannot import name 'ugettext_lazy' from 'django.utils.translation'"
With Django 4.1.2 I'm getting this error:
[code]
My Django packages are this:
[code]
And I'm using python python 3.10.6